<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>

body{
    background-color: black;

}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: 20% 80%;
}

.contenido {
    background-color: #9e3833;
    
}

.menu {

    background-color: #404467 ;
    
}

.iniciobtn {
    border: 1px solid;
    padding: 10px;
    margin-top: 2px;
}